<div class="bef-wrapper">
<div class="wrapper">
  <div class="title">
    Register</div>
  <form action="/client">
    <div class="field">
      <input type="text" required>
      <label>Username</label>
    </div>
    <div class="field">
      <input type="text" required>
      <label>Email Address</label>
    </div>
    <div class="field">
      <input type="password" required>
      <label>Password</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="are-you-18">
      <label for="are-you-18">Are you 18?</label>
    </div>
    <div class="field">
      <input type="submit" value="Register" (click)=sendData>
    </div>
    <div class="signup">
      <span>Already a member? </span>
      <div class="signup-link"><a href="/login">Sign-in now!</a></div>
    </div>
  </form>
</div>
</div>
