<div class="bef-wrapper">
  <div class="wrapper">

    <div class="row">
      <div class="column">
        <h2>Product image</h2>
        <p>Some text..</p>
      </div>
      <div class="column" >
        <h2>Product title</h2>
        <p>{{product.title}}</p>
        <h2>Product description</h2>
        <p>{{product.description}}</p>
        <h2>Product price</h2>
        <p>{{product.price}}</p>
        <h2>Where you can find my product:</h2>
        <p>Some text..</p>
        <h2>Product price and method of payment</h2>
        <p>Some text..</p>
        <h2>Phone number</h2>
        <p>Some text..</p>

      </div>

    </div>

    <h2>ProductID: {{ProductID}}</h2>


  </div>
</div>
